.over {
    margin-top: 250px !important;
}

.ono {
    height: 400px !important;
    width: 1000px !important;
}

.fontword1 {
    font-size: 100px !important;
}

.fontword2 {
    font-size: 60px !important;
}