button, input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  height: 2.7rem;
  /* left: 983px;
  top: 438px; */
  border: 2px solid #102E30;
  outline:none;
  padding-left:0.6rem;
}

.divinput {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

button:hover {
  background: #102E30;
  color: #E6E6E6;
}

button:active {
  background: #184348;
}